<header><div class="topnav">
    <a routerLink="/profil" style="padding: 0;"><img src="../../assets/{{korisnik.slika}}" height="95" width="95"></a>
    <a (click)="vratiNaPocetnu()">Pocetna strana</a>
    <a (click)="trenutnaZaduzenja()">Trenutna zaduzenja</a>
    <a (click)="istorijaZaduzivanja()">Istorija zaduzenja</a>
    <a *ngIf="this.korisnik.tip=='admin'" routerLink="/admin">Adminstratorske funkcije</a>
    <a class="active" *ngIf="this.korisnik.tip=='moderator'&&korisnik.blokiran==false" routerLink="/zahtevi">Zahtevi za dodavanje knjige</a>
    <a routerLink="/citalac">Citalacke funkcije</a>
    <a (click)="izlogujSe()">Izloguj se</a>
</div>
</header>
<body>
<h1 class="naslov">Zahtevi za dodavanje knjige</h1>
<table>
    <tr>
        <th>Naziv</th>
        <th>Autori</th>
        <th>Korisnik</th>
        <th>Prihvati zahtev</th>
        <th>Odbij zahtev</th>
    </tr>
    <tr *ngFor="let z of zahtevi; let i=index" >
        <td *ngIf="z.odobren==false">{{z.naziv}}</td>
        <td *ngIf="z.odobren==false"><li *ngFor="let a of z.autori">{{a.ime}}</li></td>
        <td *ngIf="z.odobren==false">{{z.korisnickoIme}}</td>
        <td *ngIf="z.odobren==false"><button (click)="prihvati(z)">Prihvati</button></td>
        <td *ngIf="z.odobren==false"><button (click)="odbij(z)">Odbij</button></td>
        
    </tr>
</table>
</body>
<footer>
    Andrija Stefanovic, 2022
</footer>